<article [hidden]="deleted" class="contact">
  <header class="contact__header">
    <div class="header__left">
      <h2>
        {{cnt.nickname}}
      </h2>
      <button [ngClass]="cnt.isBookmarked == true ? 'header__bookmark bookmark__active':'header__bookmark bookmark__inactive'" (click)="toggleBookmark()">Bookmark</button>
    </div>  
    <div class="header__right">
      <div class="header__tag" *ngIf="cnt.tags.length !== 0">
        <app-tag *ngFor="let tag of cnt.tags" [tag]="tag"></app-tag>
      </div>
      <div class="btn__toggle">
        <app-togglevisible (stateChanged)="hiddenContact = $event" [currentState]="hiddenContact"></app-togglevisible>  
      </div>
    </div>
  </header>
  <div class="contact__main" [hidden]="hiddenContact">
    <div class="main__info">
      <div class="info__credentials">
        <span>{{cnt.name}}</span>
        <span>{{cnt.surname}}</span>
      </div>
      <span>{{cnt.address}}</span>
    </div>
    <div class="main__numbers" *ngIf="cnt.phoneNumbers.length !== 0">
      <div class="numbers__header">
        <h3>
          Numbers:
        </h3>
        <app-togglevisible (stateChanged)="hiddenNumbers = $event" [currentState]="hiddenNumbers"></app-togglevisible>
      </div>
      <div class="numbers__content" [hidden]="hiddenNumbers">
        <app-phonenumber *ngFor="let number of cnt.phoneNumbers" [number]="number"></app-phonenumber>
      </div>
    </div>
    <div *ngIf="cnt.mails.length !== 0">
      <div class="mails__header">
        <h3>
          Emails:
        </h3>
        <app-togglevisible (stateChanged)="hiddenMails = $event" [currentState]="hiddenMails"></app-togglevisible>
      </div>
      <div class="main__emails" [hidden]="hiddenMails">
        <app-email *ngFor="let email of cnt.mails" [email]="email"></app-email>
      </div>
    </div>
  </div>
  <footer class="manage__contact">
    <button class="btn__edit" (click)="editContact()">Edit</button>
    <button class="btn__delete" (click)="deleteContact()">Delete</button>
  </footer>
</article>
