.contact{
    margin: 10px;
    background-color: #30CEC2;
    border-radius: 20px;
    box-shadow: inset 15px 42px 55px 10px rgba(5, 154, 165, 0.72);
    color: #ffff;
    font-family: "Fuse V.2 Display";
}
.contact__main > div{
    padding: 5px 15px;
    border-width: 1px 1px 0 1px;
    border-style: solid;
    border-color: #1A3B43;
}
.contact__main h3{
    margin: 12px;
    font-size: 16px;
}
.header__right{
    display: flex;
    justify-content: space-between;
    width:fit-content;
}
.contact__header{
    box-sizing: border-box;
    display: flex;
    margin: 0 15px;
    justify-content: space-between;
    padding: 15px;
}
.contact__header > h2{
    margin: 0;
    padding: 10px;
}
.contact__header  .header__tag{
    width: fit-content;
}
.main__info{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.info__credentials > span{
    margin-left: 5px;
}
.numbers__content{
    margin-left: 80px;
}
.numbers__header{
    display: flex;
    justify-content: space-between;
}
.mails__header{
    display: flex;
    justify-content: space-between;
}
.main__emails{
    margin-left: 80px;  
}
.manage__contact{
    display: flex;
    justify-content: space-around;
    padding: 5px 0;
}
.btn__edit, .btn__delete{
    color: white;
    outline: none;
    border: none;
    border-radius: 15px;
    font-family: "Fuse V.2 Display";
    font-weight: 600;
    font-size: 20px;
    padding: 5px 50px;
}
.btn__edit{
    background-color: green;
}
.btn__delete{
    background-color: firebrick;
}
.btn__toggle{
    box-sizing: border-box;
    display:inline-block;
    padding-top: 10px;
}
.manage__contact{
    border-top: 1px solid #1A3B43;
    padding: 10px 0;
}
.header__left{
    display: flex;
}
.header__bookmark{
    color: #ffffff;
    font-family: "Fuse V.2 Display";
    font-size: 12px;
    outline: none;
    padding: 10px;
    margin-left: 15px;
    margin-top: -15px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    transition: background-color 0.5s;
    transition: opacity 0.5s;
}
.bookmark__inactive:hover{
    background-color: #4bb797;
    border-top: 1px solid #1A3B43;
    opacity: 1;
}
.bookmark__inactive{
    background-color: #1A3B43;
    opacity: 0.8;
    border: 1px solid #4bb797;
}
.bookmark__active{
    background-color: #4bb797;
    border: none;
    border-top: 1px solid #1A3B43;
    opacity: 1;
    box-shadow: 0px 2px 1px 1px whitesmoke;
}