button{
    border: 0;
    padding: 0;
    background-color: #1A3B43;
    width: 30px;
    height: 30px;
}
button > span{
    display: block;
    width: 40%;
    margin: 0 auto;
    height: 2px;
    background-color: white;
}
.up > span:nth-child(1){
    margin-right: 40%;
    transform: rotate(-45deg);
    transition: transform .3s;
}
.up > span:last-child{
    transform: rotate(45deg);
    margin-right: 15%;
    margin-top: -5%;
    transition: transform .3s;
}
.down > span:nth-child(1){
    margin-right: 40%;
    transform: rotate(45deg);
    transition: transform .3s;
}
.down > span:last-child{
    transform: rotate(-45deg);
    margin-right: 15%;
    margin-top: -5%;
    transition: transform .3s;
}