/* You can add global styles to this file, and also import other style files */
body{
    padding: 0;
    margin: 0;
}
@font-face{
    font-family: "Fuse V.2 Display";
    src: url("./assets/FuseV.2Display-Regular.2b6a1efd.otf");
    font-weight: normal;
}
@font-face{
    font-family: "Fuse V.2 Display";
    src: url("./assets/FuseV.2Display-Bold.c8091973.otf");
    font-weight: bold;
}
@font-face{
    font-family: "Fuse V.2 Display";
    src: url("./assets/FuseV.2Display-Black.7195687c.otf");
    font-weight: 600;
}