div {
    position: relative;
}
nav{
    display: flex;
    justify-content: space-between;
    background-color: #1A3B43;
    width: 80%;
    padding: 2px 0;
    margin: 0 auto;
}
nav a{
    padding: 20px;
    background-color: #30CEC2;
    color: white;
    text-decoration: none;
    font-family: "Fuse V.2 Display";
    border: 0.5px solid #1A3B43;
    border-radius: 3px;
}
div > a{
    display: inline-block;
}
.navigation__left{
    display: flex;
}
.toggleSearch{
    background-color: #30CEC2;
    outline: none;
    border: none;
}
.closed{
    visibility: hidden;
    opacity: 0;
    width: 0%;
    transition: opacity 0.5s;
    transition: width 0.1s;
}
.open{
    visibility: visible;
    transition: opacity 0.5s;
    transition: width 0.5s;
    opacity: 1;
    width: 100%;
}
form{
    display: flex;
}
input{
    font-family: "Fuse V.2 Display";
    font-size: 22px;
    border: none;
    outline: none;
}
option{
    font-family: "Fuse V.2 Display";
    font-size: 22px;
    text-transform: capitalize;
    border: none;
}
input:invalid{
    border-bottom: 1px solid red;
}
select{
    font-family: "Fuse V.2 Display";
    font-size: 22px;
    text-transform: capitalize;
    border: none;
    outline: none;
    border-left: 1px solid #1A3B43;
}
form > button{
    outline: none;
    border:none;
    border-right: 1px solid #1A3B43;
    background-color: #30CEC2;
    font-family: "Fuse V.2 Display";
    text-transform: uppercase;
    color:white;
    font-size: 18px;
    font-weight: 600;
}