<div>
  <nav>
    <div class="navigation__left">
      <a routerLink="/search" routerLinkActive="active">Home</a>
      <form [ngClass]="optionsToggle ? 'closed':'open'" (ngSubmit)="onSubmit(searchForm)" #searchForm="ngForm">
        <input type="text" name="searchParam" ngModel #searchParamField="ngModel" required />
        <select name="searchOption" [(ngModel)]="searchOption" required>
          <option [ngValue]="undefined" disabled>Options</option>
          <option *ngFor="let option of searchOptions" [value]="option.name">
            {{ option.name }}
          </option>   
        </select>
        <button type="submit" [disabled]="!searchForm.form.valid">Search</button>
      </form>
      <button class="toggleSearch" (click)="toggleOption()"><img src="https://img.icons8.com/metro/26/000000/search.png"></button>
    </div>
    <div>
      <a routerLink="/addcontact" routerLinkActive="inactive">Add contact</a>
      <a routerLink="/bookmark" routerLinkActive="inactive">Bookmarks</a>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>  