form{
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 2% 0 6% 25%;
    margin: 0 auto;
    font-family: "Fuse V.2 Display";
    background-color: #1A3B43;
    color: #ffffff;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
form label{
    padding: 5px;
}
form input{
    width: 45%;
    outline: none;
    border: none;
    font-family: "Fuse V.2 Display";
    padding: 5px;
}
form input:invalid{
    border-left: 5px solid red;
}
form input:valid{
    border-left: 5px solid green;
}
.btn__add{
    display: block;
    background-color: green;
    color: white;
    font-size: 20px;
    outline: 0;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border: none;
    width: 46.1%;
    margin-left: 5px;
}
.btn__delete{
    outline: 0;
    font-size: 21px;
    position: relative;
    top: 2px;
    padding: 1px 10px;
    color: white;
    background-color: red;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: none;
}
.btn__submit,.btn__close{
    display: block;
    font-family: "Fuse V.2 Display";
    color: white;
    outline: 0;
    border: 0.75px solid black;
    font-size: 20px;
    font-weight: 600;
    position: absolute;
    text-transform: uppercase;
    bottom: 15px;
    padding: 1% 2%;
    border-radius: 15px;
}
.btn__submit{
    background-color: green;
    margin-left: 4%;
}
.btn__close{
    background-color: red;
    margin-left: 19%;
}
.invalid{
    opacity: 0.6;
}