<form (ngSubmit)="onSubmit()"  #addForm="ngForm" [formGroup] ="editContactForm">
    <input type="hidden" formControlName="contactId">
    <label>Nickname:</label>
    <input required type="text" formControlName="nickname"/>
    <label>Name:</label>
    <input required type="text" formControlName="name"/>
    <label>Surname:</label>
    <input required type="text" formControlName="surname"/>
    <div formArrayName="phoneNumbers">
      <label>Numbers:</label>
      <div *ngFor="let item of phoneNumbers.controls; let numberIndex = index" [formGroupName]="numberIndex">
        <input type="hidden" formControlName="phoneNumberId"/>
        <input type="text" formControlName="number"/>
        <button class="btn__delete" type="button" (click)="deletePhoneNumber(numberIndex)">-</button>
      </div>
      <button class="btn__add" type="button" (click)="addPhoneNumber()">+</button>
    </div>
    <label>Address:</label>
    <input type="text" formControlName="address"/>
    <div formArrayName="tags">
      <label>Tags:</label>
        <div *ngFor="let itemTag of tags.controls; let tagIndex = index" [formGroupName]="tagIndex"> 
          <input type="hidden" formControlName="tagId"/>
          <input type="text" formControlName="group"/>
          <button class="btn__delete" type="button" (click)="deleteTag(tagIndex)">-</button>
        </div>
        <button class="btn__add" type="button" (click)="addTag()">+</button>
    </div>
    <div formArrayName="mails">
      <label>Emails:</label>
        <div *ngFor="let itemMail of mails.controls; let mailIndex = index" [formGroupName]="mailIndex">
          <input type="hidden" formControlName="mailId"/>
          <input type="text" formControlName="email"/>
          <button class="btn__delete" type="button" (click)="deleteMail(mailIndex)">-</button>
        </div>
        <button class="btn__add" type="button" (click)="addMail()">+</button>
    </div>
    <button class="btn__submit" [ngClass]="addForm.form.valid ? 'valid' : 'invalid'" type="submit" [disabled]="!addForm.form.valid">Submit</button>
    <button class="btn__close" type="button" (click)="onClose()">Close</button>
  </form>