<form (ngSubmit)="onSubmit()"  #addForm="ngForm" [formGroup] ="addContactForm">
  <label>Nickname:</label>
  <input required type="text" formControlName="Nickname"/>
  <label>Name:</label>
  <input required type="text" formControlName="Name"/>
  <label>Surname:</label>
  <input required type="text" formControlName="Surname"/>
  <div formArrayName="phoneNumbers">
    <label>Numbers:</label>
    <div *ngFor="let item of phoneNumbers.controls; let numberIndex = index" [formGroupName]="numberIndex">
      <input type="text" formControlName="Number"/>
      <button class="btn__delete" type="button" (click)="deletePhoneNumber(numberIndex)">-</button>
    </div>
    <button class="btn__add" type="button" (click)="addPhoneNumber()">+</button>
  </div>
  <label>Address:</label>
  <input type="text" formControlName="Address"/>
  <div formArrayName="Tags">
    <label>Tags:</label>
      <div *ngFor="let itemTag of tags.controls; let tagIndex = index" [formGroupName]="tagIndex">
        <input type="text" formControlName="Group"/>
        <button class="btn__delete" type="button" (click)="deleteTag(tagIndex)">-</button>
      </div>
      <button class="btn__add" type="button" (click)="addTag()">+</button>
  </div>
  <div formArrayName="Mails">
    <label>Emails:</label>
      <div *ngFor="let itemMail of mails.controls; let mailIndex = index" [formGroupName]="mailIndex">
        <input type="text" formControlName="Email"/>
        <button class="btn__delete" type="button" (click)="deleteMail(mailIndex)">-</button>
      </div>
      <button class="btn__add" type="button" (click)="addMail()">+</button>
  </div>
  <button class="btn__submit" [ngClass]="addForm.form.valid ? 'valid' : 'invalid'" type="submit" [disabled]="!addForm.form.valid">Submit</button>
</form>